@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'organetto';
  src: url('./assets//fonts/organetto-expregular.otf') format('truetype');
  /* You may include more font formats here for better cross-browser support */
}

:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}
